* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif; /*tenta carregar a fonte roboto, se não funcionar, carrega qualquer fonte não serifada*/
}

body {
    color: #e1e1e6;
    background: #121214;
}